<!DOCTYPE html>
<head>
    <title>HOME</title>
</head>
<body>
    <h1 align="center" style="color: blue; align-items: center">CARI POKEMON</h1>
    <img width="200px" align="midle" src="pokemon.jpg"/>
    <form action="http://localhost:5000/hasil" method="post">
        <p align="center">
            <input name="namapokemon" type="text" placeholder="ketik nama Pokemon..."/>
        </p>
        <p align="center">
            <input type="submit" value="CARI"/>
        </p>
    </form>
</body>
</html>