<!DOCTYPE html>
<head>
    <title>HOME</title>
</head>
<body style="background-size:cover" background="http://www.itaniumsolutions.org/pics/max/12/120673_all-pokemon-wallpaper-hd.jpg">
    <h1 align="left" style="color: blue; align-items: left">CARI POKEMON</h1>
    <form action="http://localhost:5000/hasil" method="post">
        <p align="left">
            <input name="namapokemon" type="text" placeholder="ketik nama Pokemon..."/>
        </p>
        <p align="left">
            <input type="submit" value="CARI"/>
        </p>
    </form>
</body>
</html>